# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
Assets/_Recovery/
Assets/Characters/Variants/*.blend
Assets/Characters/Variants/*.blend1

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

# Unity cache
MemoryCaptures/
Recordings/
